<!-- { "title": "If" } -->

<h2>If</h2>

<section>

	<h4>Raw</h4>
	<code class="raw prettyprint">
		<div s-if="isTrue">isTrue</div>
		<div s-if="isFalse">isFalse</div>
	</code>

	<h4>Cooked</h4>
	<div class="cooked" s-controller="main">
		<div s-if="isTrue">isTrue</div>
		<div s-if="isFalse">isFalse</div>
	</div>

</section>

<script>
	Swathe.controller({
		name: 'main',
		model: {
			isTrue: true,
			isFalse: false,
		},
		created: function (controller) {
			console.log('loaded');
		}
	});
</script>
