<!-- { "title": "On" } -->

<h2>On | Event</h2>

<section>

	<h4>Raw</h4>
	<code class="raw prettyprint">
		model.onClick = function (modelVariable, string, number, e) {
			console.log(modelVariable);
			console.log(string);
			console.log(number + ' ' + typeof number);
			console.log(e);
			console.log(this);
			window.alert('onClick');
		};

		model.eventClick = function (modelVariable, string, number, e) {
			console.log(modelVariable);
			console.log(string);
			console.log(number + ' ' + typeof number);
			console.log(e);
			console.log(this);
			window.alert('eventClick');
		};
	</code>
	<code class="raw prettyprint">
		<button type="button" s-on-click="onClick(iterable, 'world', 1)" >On Click</button>
		<button type="button" s-event-click="eventClick(iterable, 'world', 1)" >Event Click</button>
	</code>

	<h4>Cooked</h4>
	<div class="cooked" s-controller="main">
		<button type="button" s-on-click="onClick(iterable, 'world', 1)" >On Click</button>
		<button type="button" s-event-click="eventClick(iterable, 'world', 1)" >Event Click</button>
	</div>

</section>

<script>
	Swathe.controller('main',
		{
			onClick: function (modelVariable, string, number, e) {
				console.log(modelVariable);
				console.log(string);
				console.log(number + ' ' + typeof number);
				console.log(e);
				console.log(this);
				window.alert('onClick');
			},
			eventClick: function (modelVariable, string, number, e) {
				console.log(modelVariable);
				console.log(string);
				console.log(number + ' ' + typeof number);
				console.log(e);
				console.log(this);
				window.alert('eventClick');
			}
		},
		function (controller) {
			controller.model.onClick = function (modelVariable, string, number, e) {
				console.log('does not accept dynmic changes this wont work');
			};
		}
	);
</script>
