<!-- { "title": "Other" } -->

<h2>Other</h2>

<div s-controller="main">

	<section>
		<h4>Input Disabled</h4>
		<input s-value="link" s-disabled="isDisabled">
	</section>

	<section>
		<h4>Nested Model</h4>
		<div>
			<a s-href="i.am.nestedLink" s-text="i.am.nestedLink" target="_blank">Link</a>
		</div>
		<input s-value="i.am.nestedLink">
	</section>

	<section>
		<h4>Model Change</h4>
		<div s-text="count"></div>
	</section>

	<section s-controller="second">
		<h4>Sub Controller</h4>
		<div s-text="text">Ignored Becuase this is another controller.</div>
	</section>

</div>

<script>
	var model = {
		count: 0,
		isDisabled: true,
		link: 'Empty',
		text: 'text stuff',
		i: {
			am: {
				nested: 'NO',
				nestedLink: 'www.google.com'
			}
		}
	};

	var controller = Swathe.controller('main', model);

	setInterval(function () {
		controller.model.count++;
	}, 1000);

</script>
